@font-face {
  font-family: "iconfont"; /* Project id 2696838 */
  src: url('iconfont.woff2?t=1628000079968') format('woff2'),
       url('iconfont.woff?t=1628000079968') format('woff'),
       url('iconfont.ttf?t=1628000079968') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia1:before {
  content: "\e7bb";
}

.icon-appmsg-create:before {
  content: "\e60a";
}

.icon-bofang:before {
  content: "\e75e";
}

.icon-iconzhengli_tiaozhuan:before {
  content: "\e648";
}

.icon-zhuanfa:before {
  content: "\e623";
}

.icon-_dianzan:before {
  content: "\e608";
}

.icon-zan:before {
  content: "\e609";
}

.icon-pinglun:before {
  content: "\e60e";
}

.icon-xinaixin-fuben1:before {
  content: "\e607";
}

.icon-huaban-copy:before {
  content: "\e9d8";
}

.icon-add1:before {
  content: "\e605";
}

.icon-yinlexiazai:before {
  content: "\e618";
}

.icon-haoyou:before {
  content: "\e606";
}

.icon-xing:before {
  content: "\e602";
}

.icon-xiazai:before {
  content: "\e60d";
}

.icon-gouwudai:before {
  content: "\e670";
}

.icon-yunyinle-xiazai:before {
  content: "\e66d";
}

.icon-yunpan-xiazai:before {
  content: "\e627";
}

.icon-guangbo:before {
  content: "\e7f8";
}

.icon-lajitong1:before {
  content: "\e638";
}

.icon-message-close:before {
  content: "\e603";
}

.icon-iconfontlaba:before {
  content: "\e686";
}

.icon-gengduo2:before {
  content: "\e7ce";
}

.icon-xinaixin-fuben:before {
  content: "\e601";
}

.icon-xinaixin11:before {
  content: "\e600";
}

.icon-xunhuan:before {
  content: "\e63d";
}

.icon-suiji:before {
  content: "\e636";
}

.icon-shunxubofang:before {
  content: "\e6ea";
}

.icon-shunxubofang1-icon:before {
  content: "\e604";
}

.icon-shangyishou1:before {
  content: "\e9d3";
}

.icon-shangyishou-copy:before {
  content: "\e9d4";
}

.icon-you-fanhui-copy-copy:before {
  content: "\e9d6";
}

.icon-xia-fanhui-copy-copy:before {
  content: "\e9d7";
}

.icon-zuo-fanhui:before {
  content: "\e692";
}

.icon-sousuo:before {
  content: "\e611";
}

.icon-erji101:before {
  content: "\e678";
}

.icon-zanting:before {
  content: "\e60c";
}

.icon-gengduo1:before {
  content: "\e643";
}

.icon-ico_zanting_xuanzhong:before {
  content: "\e612";
}

.icon-gengduo:before {
  content: "\e614";
}

